body {
    background-color: lightskyblue;
}

.card {
    width: 100%;
    height: 150px;
    background-color: lightgrey;
    border: 1px solid black;
}

img {
    width: 100px;
    height: 100px;
}

.geoInput {
    height: 3em;
}

h4 {
    margin-left: .5em;
    color: black;
}

.card-body {
    font-weight: bold;
}